/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/assets/fonts/PPRadioGrotesk-Regular.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-Black.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-BlackItalic.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-RegularItalic.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-Ultralight.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-UltralightItalic.otf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Bold.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Book.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Italic.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Medium.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-SemiBolditalic.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: 100;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PP Radio Grotesk";
}

a {
  color: inherit;
  text-decoration: none;
}

.fancy-link {
  position: relative;
}

.fancy-link:hover {
  transition: color 250ms ease-in;
}

.fancy-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background: rgb(148 163 184);
  transform: scaleX(0);
  transition: transform 250ms ease-in;
  transform-origin: right;
}

.fancy-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.fancy-title {
  position: relative;
}

.baseLocation:hover {
  color: rgb(148 163 184);
  transition: color 250ms ease-in;
}

.pin {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 250ms ease-in;
}

.baseLocation:hover > .pin {
  transform: scale(1);
}

.logos {
  width: 50px;
  height: 50px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: rgb(252, 245, 245);
  }
}

.currentWork {
  max-width: 250px;
}

.spotify,
.github,
.linkedin,
.instagram {
  transition: color 250ms ease-in, transform 250ms ease-in;
}

.spotify:hover {
  transform: scale(1.1);
  color: rgb(28, 204, 90);
}

.github:hover {
  transform: scale(1.1);
  color: rgb(76, 0, 167);
}

.linkedin:hover {
  transform: scale(1.1);
  color: rgb(12, 96, 184);
}

.instagram:hover {
  transform: scale(1.1);
  color: rgb(240, 2, 143);
}

.footer {
  opacity: 1;
}

.email:hover {
  cursor: pointer;
}
