/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/assets/fonts/PPRadioGrotesk-Regular.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-Black.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-BlackItalic.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-RegularItalic.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-Ultralight.otf") format("truetype"),
    url("/assets/fonts/PPRadioGrotesk-UltralightItalic.otf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Bold.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Book.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Italic.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Medium.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-SemiBolditalic.otf") format("truetype"),
    url("/assets/fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: 100;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PP Radio Grotesk";
  scroll-behavior: smooth;
}

.technologiesContainer {
  scroll-snap-align: start;
}

.loadingScreen {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  animation: changeScreen 7000ms ease-in;
  transform-origin: bottom;
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  transform-origin: left;
  border-bottom: 0;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 800;
  font-size: 5rem;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
  animation: rotateText 5000ms ease-in-out;
}

.text li.bounce {
  /* animation: bounceLetter 5000ms alternate infinite
    cubic-bezier(0.2, 0.65, 0.6, 1); */
}

.text li.ghost {
  opacity: 0;
  max-width: 0;
  animation: appear 5000ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    max-width: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    max-width: 2em;

    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    max-width: 0;
    transform: scaleX(0);
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceLetter {
  0% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes changeScreen {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(1);
    opacity: 0.9;
  }
  100% {
    transform: scaleY(0);
    opacity: 0.7;
  }
}

.header {
  background-color: transparent;
  z-index: 50;
  transition: all 2s ease-in-out;
}

.is-sticky {
  top: 0;
  transition: all 2s ease-in-out;
  background-image: linear-gradient(rgb(148 163 184), transparent);
}

.toggleMenu {
  display: none;
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.toggleMenu:hover {
  transform: rotate(360deg);
}

.mobileMenu {
  display: none;
}

.showMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 5rem;
}

.mobMenuItem {
  width: 100%;
  text-align: center;
  margin: 2rem;
}

.mobMenuItem:active {
  background-color: #e9f9fa;
  color: #395b64;
}

@media (max-width: 480px) {
  .toggleMenu {
    display: block;
  }
  .navBar {
    display: none;
  }
}

.hide-element {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.headerLocation {
  transition: opacity 250ms ease-in;
}

.headerCurrentJob {
  transition: opacity 250ms ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: black;
}

.fancy-link {
  position: relative;
}

.fancy-link:visited {
  color: red;
}

.fancy-link:hover {
  transition: color 250ms ease-in;
}

.fancy-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background: rgb(148 163 184);
  transform: scaleX(0);
  transition: transform 300ms ease-in;
  transform-origin: right;
}

.fancy-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.fancy-title {
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.fancyTitle:hover > .titleLetter {
  animation: titleHover 1500ms ease-in-out;
}

@keyframes titleHover {
  0% {
    font-weight: 700;
    transform: scale(1);
  }
  30% {
    font-weight: 500;
    transform: scale(0.5);
  }
  50% {
    font-weight: 900;
    transform: scale(1.5);
  }
  70% {
    font-weight: 500;
    transform: scale(0.5);
  }
  100% {
    font-weight: 700;
    transform: scale(1);
  }
}

.baseLocation:hover {
  color: rgb(148 163 184);
  transition: color 250ms ease-in;
}

.pin {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 250ms ease-in;
}

.baseLocation:hover > .pin {
  transform: scale(1);
}

.logos {
  width: 50px;
  height: 50px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: rgb(252, 245, 245);
  }
}

.currentWork {
  max-width: 250px;
}

.spotify,
.github,
.linkedin,
.instagram,
.tinder {
  transition: color 250ms ease-in, transform 250ms ease-in;
}

.spotify:hover {
  transform: scale(1.1);
  color: rgb(28, 204, 90);
}

.github:hover {
  transform: scale(1.1);
  color: rgb(76, 0, 167);
}

.linkedin:hover {
  transform: scale(1.1);
  color: rgb(12, 96, 184);
}

.instagram:hover {
  transform: scale(1.1);
  color: rgb(240, 2, 143);
}

.tinder:hover {
  transform: scale(1.1);
  color: rgb(253, 72, 87);
}

.footer {
  opacity: 1;
}

.hobby-link {
  position: relative;
}

.hobby-link:hover {
  transition: color 250ms ease-in;
}

.hobby-link::after {
  position: absolute;
  content: "";
  left: 0;

  bottom: -5px;
  height: 2px;
  width: 100%;
  background: rgb(9, 10, 11);
  transform: scaleX(0);
  transition: transform 250ms ease-in;
  transform-origin: right;
}

.hobby-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.hobbyContainer {
  animation: fade-in 1s;
  height: 70vh;
  width: 90vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.emailContainer {
  height: 20vh;
}

.email {
  position: relative;
  transition: transform 250ms ease-in;
}

.email:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 250ms ease-in;
}

.email::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  height: 5px;
  width: 100%;

  background: rgb(9, 10, 11);
  transform: scaleX(0);
  transition: transform 400ms ease-in;
  transform-origin: right;
}

.email:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.clickToCopy {
  transform-origin: bottom;
  transform: scaleY(0);
}

.emailContainer:hover > .clickToCopy {
  transition: opacity 250ms ease-in;
  opacity: 1;
  cursor: pointer;
  transform: scaleY(1);
  transition: transform 400ms ease-in;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hobbyText {
  animation: fade-in 750ms ease-in;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carouselItem {
  transition: transform 250ms ease-in;
}

.photoContainer {
  display: inline block;
  position: relative;
  transition: transform 250ms ease-in;
  overflow: hidden;
}

.photoContainer:hover {
  transition: transform 250ms ease-in;
}

.photoContainer:hover > .photoInfo {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.photoInfo {
  position: absolute;
  width: 100%;
  height: 18%;
  bottom: 7px;
  padding: 1rem;
  color: white;
  transition: opacity 250ms ease-in;
}

.photoInfo::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(70deg, #2c3333, #395b64, #a5c9ca);
  inset: 0;
  opacity: 0.6;
  mix-blend-mode: color-burn;
}

.slide {
  opacity: 0.5;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;

  transition-duration: 1s;
  transform: scale(1.02);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  z-index: 30;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  z-index: 30;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.logoUl {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.logoUl li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
}

.logoUl li div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: inherit;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.logoUl li:hover .imageWrapper:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.logoUl li:hover .imageWrapper:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.logoUl li:hover .imageWrapper:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.logoUl li:hover .imageWrapper:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.logoUl li:hover .imageWrapper:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.contactContainer {
  width: 100vw;
  min-height: 75vh;
  z-index: 0;
  position: relative;
}

.contactText {
  font-size: 3rem;
  font-weight: 700;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.word1,
.word2,
.word3,
.word4,
.word5 {
  font-family: inherit;
  font-size: inherit;
}

.message {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 375px;
  animation: openclose 16s ease-in-out infinite;
}

@keyframes openclose {
  0% {
    top: 0;
    width: 0;
  }
  3% {
    top: 0;
    width: 0;
  }
  7% {
    width: 500px;
  }
  11% {
    top: 0;
    width: 500px;
  }
  14% {
    top: 0;
    width: 0;
  }
  17% {
    top: -4.5rem;
    width: 0;
  }
  20% {
    top: -4.5rem;
    width: 0;
  }
  24% {
    top: -4.5rem;
    width: 600px;
  }
  28% {
    top: -4.5rem;
    width: 600px;
  }
  31% {
    top: -4.5rem;
    width: 0;
  }
  34% {
    top: -9rem;
    width: 0;
  }
  37% {
    top: -9rem;
    width: 0;
  }
  41% {
    top: -9rem;
    width: 600px;
  }
  45% {
    top: -9rem;
    width: 600px;
  }
  48% {
    top: -9rem;
    width: 0;
  }
  51% {
    top: -9rem;
    width: 0;
  }
  54% {
    top: -13.5rem;
    width: 0;
  }
  57% {
    top: -13.5rem;
    width: 0;
  }
  61% {
    top: -13.5rem;
    width: 600px;
  }
  65% {
    top: -13.5rem;
    width: 600px;
  }
  68% {
    top: -13.5rem;
    width: 0;
  }
  71% {
    top: -13.5rem;
    width: 0;
  }
  74% {
    top: -18rem;
    width: 0;
  }
  77% {
    top: -18rem;
    width: 0;
  }
  81% {
    top: -18rem;
    width: 600px;
  }
  85% {
    top: -18rem;
    width: 600px;
  }
  89% {
    top: -18rem;
    width: 0;
  }
  92% {
    top: -18rem;
    width: 0;
  }
  95% {
    top: 0;
    width: 0;
  }

  98% {
    top: 0;
    width: 0;
  }

  100% {
    top: 0;
    width: 0;
  }
}
